body {
  background-color: rgb(24, 2, 47);
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  /* background-color: rgb(23, 15, 46); */
  width: 100%;
  /* position: fixed; */

}

.allprojects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 50px;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  
}

/* .navbar::-webkit-scrollbar {
  display: none;
} */

.logoimg {
  width: 60px;
  /* padding: 30px; */
}

.navbarul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 60px; */
}

.navbara {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  gap: 20px;
}

.navbara a {
  display: block;
  padding: 15px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  /* background-color: #dddddd; */
  cursor: pointer;
  /* border: 1px solid rgb(23, 15, 46); */
  border-radius: 7px;
  text-decoration: none;
  color: white;
}

.navbara a:hover {
  background-color: rgb(21, 21, 63);
}

.projndpics {
  background: rgb(24, 2, 47);
  border: 1px solid rgba(150, 140, 127, 0.3);
  border-radius: 16px;
  padding: 48px 0px 0px 48px;
  display: flex;
  margin: 32px auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 2px;
  align-items: flex-end;
  width: 95%;
  overflow: hidden;
}

.projectimg {
  width: 50%;
}

.projectimg img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  background-size: cover;
  background-position: 50% center;
  object-position: left top;
  display: flex;
  /* position: absolute;
    left: 0;
    bottom: 0; */
  margin-left: 129px;
}

.bigp {
  color: white;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.projstory {
  font-weight: 300;
  font-size: 18px;
  line-height: 219.2%;
  letter-spacing: 0.08em;
  margin-top: 24px;
  margin-bottom: 3em;
  color: white;
  font-family: "Raleway", sans-serif;
}

.abtproj {
  width: 50%;
  padding-right: 48px;
  padding-bottom: 48px;
}



.viewshotp {
  font-size: 16px;
  font-weight: 600;
  margin-right: 4px;
  margin-top: 0px !important;
  line-height: unset !important;
  color: #d6d93b;
  letter-spacing: 0.03em;
}

.viewbtn a {
  text-decoration: none;
}

.viewshotabtn {
  /* background-color: #d6d93b; */
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 2px;
  -webkit-box-align: center;
  align-items: center;
  width: 160px;
  height: 50px;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.viewshotabtn::before  {
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 32px;
    height: 50px;
    background: rgba(214, 217, 59, 0.27);
    border-radius: 5px;
    transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s;
}


.viewshotabtn:hover::before{
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 160px;
    height: 50px;
    background: rgba(214, 217, 59, 0.27);
    border-radius: 5px;
    /* transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s; */
    cursor: pointer;
}



.bannersection    {
  width: 100%;
  

}


.deetndimg  {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  padding: 20px 50px;
}

.selfdetails    {
  width: 50%;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 219.2%;
  letter-spacing: 0.08em;
  margin-top: 24px;
  margin-bottom: 3em;
  color: white;
  padding: 0px 55px;
}

.headimg  {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}
.headimg img {
  width: 70%;
}

.bigintro   {
  font-weight: 700;
  font-size: 65px;
  color: white;
  margin: 30px 0px;
}

.paull  {
  color: #d6d93b;
}
.detailsp   {
 
  margin-top: 50px;
}


.learnimg   {
  display: flex;
  margin-top: 40px;
}
.learnimg img   {
  max-width: 150px;
  justify-content: flex-end;
  margin-top: -51px;
    margin-left: 20px;
    height: 75px;

}

.abouta   {
  color: #d6d93b;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.learningp  {
  font-size: 15px;
}

.selectedptxt   {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0px 60px;
}

.selectwhite     {
  font-weight: 700;
  font-family: 'raleway', sans-serif;
  font-size: 18px;
  color: white;
 
}
  
  .dimselect     {
    font-weight: 800;
    font-family: 'raleway', sans-serif;
    font-size: 90px;
    color: rgba(155, 138, 171, 0.3);
  }

  .arrowimg img {
    height: 72px;
    margin-right: 48px;
  }
  
  .shotarrow  {
    display: flex;
    margin-left: 10px
  }
  
  
  .shotarrow img    {
    width: 10px;
    display: block;
    stroke: currentcolor;
    color: rgb(214, 217, 59);
    height: 20px;
  }

   
  .shotarrow img:first-child{  
  animation-name: firsts;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-right: 3px;
  }


  .shotarrow img:last-child
{
  animation-name: seconds;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes firsts {
  
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.7;
  }

  
}

@keyframes seconds {
  
  100% {
    opacity: 1;
  }
  
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.4;
  }

  
}


@media (max-width:1000px) {
  .navbarul   {
    display: none;
  }


  .projectimg {
    width: 100%;
}
  .selfdetails {
 
      width: 100%;
      font-family: 'raleway', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 219.2%;
      letter-spacing: 0.08em;
      margin-top: 24px;
      margin-bottom: 3em;
      color: white;
      padding: 0px 20px;
      /* text-align: center; */
  }

  .learnimg img {
    max-width: 150px;
    justify-content: flex-end;
    margin-top: -30px;
    margin-left: 20px;
    height: 75px;
}

.learningp {
  font-size: 18px;
}
.deetndimg {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  padding: 20px 50px;
  flex-direction: column-reverse;
}

.headimg {
  /* margin: auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  display: flex; */
  display: none;
}

.projndpics {
  background: rgb(24, 2, 47);
  border: 1px solid rgba(150, 140, 127, 0.3);
  border-radius: 16px;
  padding: 48px 0px 0px 48px;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 2px;
  align-items: flex-end;
  width: 95%;
  overflow: hidden;
}

.abtproj {
  width: 100%;
  padding-right: 48px;
  padding-bottom: 48px;
}

.projectimg img {
  width: 100%;
  object-fit: cover;
  height: 381px;
  background-size: cover;
  background-position: 50% center;
  object-position: left top;
  display: flex;
  margin-left: 95px;
  /* margin-right: -2px; */
}

/* .projndpics2 {
  background: rgb(24, 2, 47);
  border: 1px solid rgba(150, 140, 127, 0.3);
  border-radius: 16px;
  padding: 48px 0px 0px 48px;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 2px;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
} */
}

@media (max-width: 550px) {
.deetndimg {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    padding: 20px 8px;
    flex-direction: column-reverse;
}

.bigp {
  color: white;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  width: 70%;
  line-height: 150%;
}

.bigintro {
  font-weight: 700;
  font-size: 55px;
  color: white;
  margin: 30px 0px;
}

.learnimg img {
  max-width: 150px;
  justify-content: flex-end;
  margin-top: -30px;
  margin-left: 7px;
  height: 55px;
}

.selfdetails {
  width: 100%;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 219.2%;
  letter-spacing: 0.08em;
  margin-top: 24px;
  margin-bottom: 3em;
  color: white;
  padding: 0px 10px;
  /* text-align: center; */
}

.dimselect {
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  font-size: 60px;
  color: rgba(155, 138, 171, 0.3);
}

.selectwhite {
  font-weight: 700;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  color: white;
}

.projndpics {
  background: rgb(24, 2, 47);
  border: 1px solid rgba(150, 140, 127, 0.3);
  border-radius: 16px;
  padding: 48px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 2px;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.selectedptxt {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.projstory {
  font-weight: 300;
  font-size: 17px;
  line-height: 219.2%;
  letter-spacing: 0.08em;
  margin-top: 24px;
  margin-bottom: 3em;
  color: white;
  font-family: "Raleway", sans-serif;
}
}


@media (max-width: 500px) {
.abtproj {
    width: 100%;
    padding-right: 15px;
    padding-bottom: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.logoimg {
  width: 50px;
  /* /* padding: 30px;  */
}
.viewshotp {
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
  margin-top: 0px !important;
  line-height: unset !important;
  color: #d6d93b;
  letter-spacing: 0.03em;
}

.viewshotabtn {
  /* background-color: #d6d93b; */
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 2px;
  -webkit-box-align: center;
  align-items: center;
  width: 140px;
  height: 50px;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.viewshotabtn:hover::before{
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 140px;
    height: 50px;
    background: rgba(214, 217, 59, 0.27);
    border-radius: 5px;
    /* transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s; */
    cursor: pointer;
}

.projectimg img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  background-size: cover;
  background-position: 50% center;
  object-position: left top;
  display: flex;
  margin-left: 85px;
}
}

@media (max-width:450px) {
  .bigintro {
    font-weight: 700;
    font-size: 50px;
    color: white;
    margin: 30px 0px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.logoimg {
  width: 50px;
  /* padding: 30px; */
}

.learnimg img {
  display: none;
}

.projectimg img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  background-size: cover;
  background-position: 50% center;
  object-position: left top;
  display: flex;
  margin-left: 55px;
}

.bigp {
  color: white;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  width: 80%;

}
.detailsp   {
  font-size: 14px;
}

.learningp {
  font-size: 14px;
}

}

@media (max-width:290px) {
  .bigintro {
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin: 30px 0px;
    line-height: 130%;
}

.detailsp   {
  font-size: 13px;
}

.learningp {
  font-size: 13px;
}

.dimselect {
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  font-size: 40px;
  color: rgba(155, 138, 171, 0.3);
}

.selectwhite {
  font-weight: 700;
  font-family: 'raleway', sans-serif;
  font-size: 10px;
  color: white;
}

.bigp {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.projstory {
  font-weight: 300;
  font-size: 14px;
  line-height: 219.2%;
  letter-spacing: 0.08em;
  margin-top: 24px;
  margin-bottom: 3em;
  color: white;
  font-family: "Raleway", sans-serif;
}

.viewshotp {
  font-size: 12px;
  font-weight: 600;
  margin-right: 4px;
  margin-top: 0px !important;
  line-height: unset !important;
  color: #d6d93b;
  letter-spacing: 0.03em;
}

.projectimg img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  background-size: cover;
  background-position: 50% center;
  object-position: left top;
  display: flex;
  margin-left: 10px;
}
}