*       {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projectimgkg {
    width: 50%;
  }
  

  .desslides    {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 8em;
  }
  .projectimgkg img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    background-size: cover;
    background-position: 50% center;
    object-position: left top;
    display: flex;
    /* position: absolute;
      left: 0;
      bottom: 0; */
    /* margin-left: 129px; */
  }

  .kaapitdes    {
    width: 90%;
    margin-bottom: 8em;
  }
  