*       {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projectimgkg {
    width: 50%;
  }
  

  .desslides    {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 8em;
  }
  .projectimgkg img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    background-size: cover;
    background-position: 50% center;
    object-position: left top;
    display: flex;
    /* position: absolute;
      left: 0;
      bottom: 0; */
    /* margin-left: 129px; */
  }

  .kaapitdes    {
    width: 90%;
    margin-bottom: 8em;
  }

  div .kaapitdes    {
    align-items: center;
    display: flex;
    margin:auto;
  }


  .selecteddesp     {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: blueviolet;
    font-weight: 400;
    margin: 20px auto 40px auto;
  }
  

  .otherdes        {
    display: flex;
    /* flex-wrap: wrap; */
    margin: auto;
  }