* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.letwork {
  display: flex;
  min-height: 2px;
  align-items: flex-end;
  /* flex-wrap: wrap; */
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 50px;
  margin-top: 120px;
  /* margin-right: ;
  margin-left: ;
  margin-bottom: 0px;  */
  background: linear-gradient(rgb(32, 5, 60) 38.12%, rgba(24, 2, 47, 0) 80.43%);
  padding: 3.5em 5em 56px;
  border-radius: 24px;
}

/* .letwork p { */
  
  /* padding: 0px 20px; */
/* } */

.letworksmallp {
  font-size: 20px;
  line-height: 219.2%;
  width: 80%;
  color: white;
  font-family: "raleway", sans-serif;
  letter-spacing: 0.08em;
  margin-top: 1.5em;
}

.letworkbigp {
  width: 75%;
  --bg-size: 400%;
  background: linear-gradient(
                90deg,
                #d6d93b,
                #ffffff,
                #d6d93b
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /* color: white; */
  font-family: "raleway", sans-serif;
  letter-spacing: 0.08em;
  font-size: 46px;
  font-weight: 800;
  line-height: 140.2%;
  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.sendmessage {
    width: 43%;
    display: flex;
    min-height: 2px;
    align-items: flex-end;
    height: 72px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}


.viewshotplg {
  font-size: 16px;
  font-weight: 600;
  margin-right: 4px;
  margin-top: 0px !important;
  line-height: unset !important;
  color: #d6d93b;
}

.viewbtnlg a {
  text-decoration: none;
  font-size: 18px;
  /* padding: 10px 8px; */
}

.viewshotabtnlg {
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 2px;
  -webkit-box-align: center;
  align-items: center;
  width: 165px;
  height: 50px;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.viewshotabtnlg::before  {
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 32px;
    height: 50px;
    background: rgba(214, 217, 59, 0.27);
    border-radius: 5px;
    transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s;
}


.viewshotabtnlg:hover::before{
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 165px;
    height: 50px;
    background: rgba(214, 217, 59, 0.27);
    border-radius: 5px;
    /* transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s; */
    cursor: pointer;
}

.horizontaldiv  {
  height: 1px;
    background: rgba(255, 255, 255, 0.25);
    width: 90%;
    margin: 5em auto 30px auto;
    /* margin-top: 5em;
    margin-bottom: 30px; */

}

footer  {
  padding: 30px 60px;
}

.socials    {
  display: flex;
}


.divsoc  {
    width: 40px;
    height: 40px;
    border: 1px solid #20053B;
    border-radius: 50%;
    padding: 7px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20053B;
    cursor: pointer;
}

.divsoc img  {
  width: 20px
}

.referencep     {
  display: flex;
  flex-direction: column;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.435);
  letter-spacing: 0.04em;
  line-height: 140.2%;
}

.ref   {
  margin-bottom: 10px;
}
.tributendsocials   {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  margin-bottom: 30px;
}

.soca     {
  text-decoration: none;
  cursor: pointer;
}


@media (max-width:750px) {
  .tributendsocials {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    margin-bottom: 30px;
    flex-direction: column;
}

.socials {
  display: flex;
  margin-bottom: 35px;
}
.horizontaldiv {
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  width: 80%;
  margin: 5em auto 30px auto;
}
}