* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .toolspane    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px auto 30px auto;
    align-items: center;
    padding: 0px 50px;
  }

  .firsttoolp   {
    margin-bottom: 30px;
  }

  .toolsp   {
    color: white;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    width: 45%;
    line-height: 219.2%;
    letter-spacing: 0.08em;
    padding: 0px 20px;

  }

  .linethrough  {
    width: 1px;
    background: rgba(255, 255, 255, 0.12);
    /* border: px solid white; */
    height: 450px;
    margin-left: 60px;
  }

  .toolsimages  {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .toolicons    {
    width: 45%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .toolicons p      {
    font-family: 'raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.10em;
  }
  .toolicons img {
    width: 50%;
    height: 50%;
    border: 3px solid rgba(150, 140, 127, 0.3);
    border-radius: 50%;
    margin-bottom: 20px;
  }



  @media (max-width:1000px) {

    .toolspane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 80px auto 30px auto;
      align-items: center;
      padding: 0px 50px;
  }

  .toolsp {
    color: white;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    width: 100%;
    line-height: 219.2%;
    letter-spacing: 0.08em;
    padding: 0px 20px;
}

.linethrough {
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  height: 1px;
  margin: 50px auto;
}

.toolsimages {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.toolicons {
  width: 25%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolicons p {
  font-family: 'raleway', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.10em;
}


  }

  @media (max-width:500px) {
    /* .toolsp {
      color: white;
      font-family: 'raleway', sans-serif;
      font-size: 18px;
      width: 100%;
      line-height: 219.2%;
      letter-spacing: 0.08em;
      padding: 0px 3px;
  } */

  .toolicons {
    width: 35%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolspane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto 30px auto;
  align-items: center;
  padding: 0px 50px;
}

.toolsp {
  color: white;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  width: 100%;
  line-height: 219.2%;
  letter-spacing: 0.08em;
  padding: 0px 3px;
}
  }